<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Virtualization</string>
	<key>State</key>
	<true/>
	<key>Symbol</key>
	<string>server.rack</string>
	<key>AlternativeSymbol</key>
	<string>xserve</string>
	<key>Widgets</key>
	<dict>
		<key>mini</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>0.01</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
		</dict>
		<key>state</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>popup</key>
		<true/>
		<key>notifications</key>
		<false/>
	</dict>
</dict>
</plist>
